body {
    width: 100vw;
    height: 100vh;
}
.title {
    text-align: center;
}
.nav {
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.nav a:hover {
    background-color: #555;
   
}
main {
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
}

.container img {
    max-width: 100px;
    margin-right: 20px;
}

.text-content {
    flex: 1;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

p {
    color: #666;
}

a {
    display: block;
    color: #0078d4;
    text-decoration: none;
    margin-top: 10px;
}
.mainContainer {
    display: flex;
    padding: 20px;
}

form {
    width: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submitButton {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #4f4f4f;
}